*{
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #282129;
  }

.clssdiv{
    background-color: rgb(126, 163, 231);
    padding: 30px 0px 30px;
}
h2{
    padding: 30px 0px 30px 60px;
}

.container {
    padding: 16px;
    /* background-color: white; */
  }
  
  /* Full-width input fields */
  input[type=text]{
    width: 10%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #80dad5;
  }
  
  input[type=text]:focus{
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
body{
    background-image: url("Red-Color-Train-Wallpaper.webp");
    background-repeat: no-repeat;
    background-size: cover;
    color: #434242;
}