*{
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: bold;
}
.form{
    background-color:#2B3A55;
    padding: 10px;
    color:#A4BE7B;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.imt{
    background-color: white;
    display: block;
    margin-left: auto;margin-right: auto;width: 50%;border: 2px solid black;

    box-shadow: 5px 5px 5px 5px;
}
.center{
    display: block;margin-left: auto;margin-right: auto;
    width: 50%;
}
.heading{
    display: block;
    margin: auto;width: 50%; font-size: 40px;
}
.p1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
}
.int{
    background-color: white;
    display: block;
    margin-left: auto;margin-right: auto;width: 50%;border: 2px solid black;
     margin-bottom: 20px;

    box-shadow: 5px 5px 5px 5px;
}
.center{
    display: block;margin-left: auto;margin-right: auto;
    width: 50%;
}
.heading{
    display: block;
    margin: auto;
    width: 50%; 
    font-size: 40px;
}
.p1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}
.at{
    background-color: white;
    display: block;
    margin-left: auto;margin-right: auto;width: 50%;border: 2px solid black;

    box-shadow: 5px 5px 5px 5px;
}
.center{
    display: block;margin-left: auto;margin-right: auto;
    width: 50%;
}
.heading{
    display: block;
    margin: auto;
    width: 50%; font-size: 40px;
}
.p1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}
.in{
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 2px solid black;
    box-shadow: 5px 5px 5px 5px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.heading{
    display: block;
    margin: auto;
    width: 50%; 
    font-size: 40px;
}
.p1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}
.on{
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 2px solid black;
    box-shadow: 5px 5px 5px 5px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.heading{
    display: block;
    margin: auto;
    width: 50%; 
    font-size: 40px;
}
.p1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}
body{
    background-color: #E8C4C4;
}